*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.wrapper
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}
.navbar
{
    width: 85%;
    margin: auto 10%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1111;
}
.navbar .logo
{
    width: 120px;
    cursor: pointer;
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background-color: #007cb1;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after
{
    width: 100%;
}

.active
{

    background-color: #007cb1;
    padding: 10px;
    border-radius: 10px;
}

.container
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.container h1
{
    font-size: 70px;
    margin-top: 220px;
}

.container p
{
    margin: 20px auto;
    font-weight: 100px;
    line-height: 25px;
}
.container p span
{
    padding: 2px;
}
.container p span:hover
{
    background-color: #007cb1;
    border-radius: 25px;
    padding: 2px;
}
.container p a
{
    color: #fff;
    text-decoration: none;
}
.button button
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #007cb1;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button button a
{
    text-decoration: none;
    color: #fff;
}
.button button span
{
    background-color: #007cb1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.9s;
}
.button button:hover span
{
    width: 100%;
}
.button button:hover 
{
    border: none;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}
section h1
{
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    text-shadow: 5px 10px 5px rgba(0,0,0,0.5);
}

#about
{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
#blog
{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}
#gallery
{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}
#contact
{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}